<p>Hi there!</p>

<p>
  <% if lookup_context.exists?(@entity_name, 'participations_mailer', true) %>
      <%= render partial: @entity_name, locals: {entity: @participation.participationable} %>
  <% else %>
      <%= @participation.sender.profile.first_name %> <%= @participation.sender.profile.last_name %>
      invited you to <%= @entity_name %> '<%= @participation.participationable.title %>'
  <% end %>
</p>